[submodule "API_AUTH"]
	path = API_AUTH
	url = https://github.com/darrotaadam/SPRING-WEB-API_AUTH.git
[submodule "API_JOUEUR"]
	path = API_JOUEUR
	url = https://github.com/darrotaadam/SPRING-WEB-API_JOUEUR.git
[submodule "API_MONSTRES"]
	path = API_MONSTRES
	url = https://github.com/darrotaadam/SPRING-WEB-API_MONSTRES.git
[submodule "API_INVOCATIONS"]
	path = API_INVOCATIONS
	url = https://github.com/darrotaadam/SPRING-WEB-API_INVOCATION.git
